@page
@model TrackItWeb.Pages.Fitness.Exercise.UpdateExericiseModel
@{
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Fitness/Index">fitness</a></li>
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Fitness/Exercise/Exercises">exercises</a></li>
		<li class="breadcrumb-item active" aria-current="page">update exercise</li>
	</ol>
</nav>

<h2 class="fw-bold">add new exercise.</h2>

<form method="post">
	<input type="hidden" asp-for="workoutUpdateDM.MemberSpecificWorkoutID"></input>
	<input type="hidden" asp-for="workoutUpdateDM.GUID"></input>
	<input type="hidden" asp-for="workoutUpdateDM.MemberID"></input>
	<div class="row mt-3">
		<div class="col-xl-3 col-sm-6 col-6">
			<div class="row">
				<div class="col-12">
					<label class="form-label text-dark float-start fw-bold" for="a">workout type.</label>
				</div>
				<div class="col-12">
					<select id="a" class="form-control-md border border-2 rounded-0 bg-transparent text-dark fw-bold" asp-items="Model.WorkoutTypes" asp-for="workoutUpdateDM.WorkoutTypeID" required>
					</select>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-6">
			<div class="row">
				<div class="col-12">
					<label class="form-label text-dark float-start fw-bold" for="a">muscle group.</label>
				</div>
				<div class="col-12">
					<select id="a" class="form-control-md border border-2 rounded-0 bg-transparent text-dark fw-bold" asp-items="Model.MuscleGroups" asp-for="workoutUpdateDM.MuscleGroupID" required>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-xl-4  col-12 mt-1">
			<label class="form-label text-dark float-start fw-bold" for="typeEmailX">workout name.</label>
			<input type="text" id="typeEmailX" class="form-control form-control-md border-2 rounded-0 bg-transparent text-dark fw-bold" asp-for="workoutUpdateDM.WorkoutName" required />
		</div>
		<div class="col-xl-4 col-12 mt-1">
			<label class="form-label text-dark float-start fw-bold" for="typeEmailX">youtube link.</label>
			<input type="text" id="typeEmailX" class="form-control form-control-md border-2 rounded-0 bg-transparent text-dark fw-bold" asp-for="workoutUpdateDM.Link" />
		</div>
		<div class="col-xl-4 col-12 mt-1">
			<label class="form-label text-dark float-start fw-bold" for="typeEmailX">description.</label>
			<textarea type="text" id="typeEmailX" class="form-control form-control-md border-2 rounded-0 bg-transparent text-dark fw-bold" asp-for="workoutUpdateDM.Description"></textarea>
		</div>
	</div>

	<div class="mt-3 d-flex justify-content-center">
		<button class="btn btn-dark btn-md rounded-0 float-end" type="submit">update.</button>
	</div>
</form>

<script type="text/javascript">
	function preventBack() { window.history.forward(); }
	setTimeout("preventBack()", 0);
	window.onunload = function () { null };
</script>