@page
@model TrackItWeb.Pages.Nutrient.IndexModel
@{
	ViewData["Title"] = "fitness.";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Home/Index">home</a></li>
		<li class="breadcrumb-item active" aria-current="page">fitness</li>
	</ol>
</nav>

<div class="container-fluid p-3">
	<h1 class="fw-bold text-center">FITNESS.</h1>
	<div class="row text-center p-5">
		<div class="col-xl-6 mt-3">
			<div class="card text-center border-2 rounded-0 border-dark">
				<div class="card-header fw-bolder rounded-0 " style="background-color: black">
					<h3 class="text-white">my workout logs.</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">see your workout logs.</h5>
					<a class="btn btn-outline-dark border-2 btn-lg m-3 rounded-0 fw-bold" href="/Workout/Logs">➔</a>
				</div>
			</div>
		</div>
		<div class="col-xl-6 mt-3">
			<div class="card text-center border-2 rounded-0 border-dark">
				<div class="card-header fw-bolder rounded-0" style="background-color: black">
					<h3 class="text-white">exercises.</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">see our and your exercises.</h5>
					<a class="btn btn-outline-dark border-2 btn-lg m-3 rounded-0 fw-bold" href="/Workout/Exercises">➔</a>
				</div>
			</div>
		</div>

		<div class="col-xl-6 mt-3">
			<div class="card text-center border-2 rounded-0 border-dark">
				<div class="card-header fw-bolder rounded-0" style="background-color: black">
					<h3 class="text-white">my progress.</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">let see what have you done.</h5>
					<a class="btn btn-outline-dark border-2 btn-lg m-3 rounded-0 fw-bold" href="/Workout/Analytics">➔</a>
				</div>
			</div>
		</div>

		<div class="col-xl-6 mt-3">
			<div class="card text-center border-2 rounded-0 border-dark">
				<div class="card-header fw-bolder rounded-0" style="background-color: black">
					<h3 class="text-white">weekly exercises.</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">lets see our weekly curated exercises.</h5>
					<a class="btn btn-outline-dark border-2 btn-lg m-3 rounded-0 fw-bold" href="/Workout/Weekly">➔</a>
				</div>
			</div>
		</div>
	</div>
</div>