@page
@model TrackItWeb.Pages.Workout.WeeklyModel
@{
	ViewData["Title"] = "weekly exercises.";
}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Workout/Index">fitness</a></li>
		<li class="breadcrumb-item active" aria-current="page">weekly exercises</li>
	</ol>
</nav>

<h1 class="fw-bold text-center"> weekly exercises.</h1>
<div class="row">
@foreach(var item in Model.Index_VM)
{
	<div class="col-xl-3 col-sm-4 col-6 d-flex justify-content-center mt-3">
		<div class="card border-2 border-dark" style="width: 16rem;">
			<div class="card-body">
				<h5 class="card-title text-center"><a class="text-dark" href="/Workout/WDetails?id=@item.WorkoutID">@item.WorkoutName.ToLower()</a></h5>
				<div class="row mt-3">
					<div class="col-12 text-center">
						<p style="font-size:14px">difficulty: @item.Difficulty // 5.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<p class="card-text fw-bold p-2">created by: TRACKIT</p>
					</div>
					<div class="col-4">
						<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" asp-route-id="@item.WorkoutID" asp-page="/Workout/WDetails">➔</a>
					</div>
				</div>
			</div>
		</div>
	</div>
}
</div>