@page
@model TrackItWeb.Pages.Fitness.Log.LogsModel
@{
	ViewData["Title"] = "logs.";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Fitness/Index">fitness</a></li>
		<li class="breadcrumb-item active" aria-current="page">logs</li>
	</ol>
</nav>


<div class="row">
	<div class="col-xl-8 col-6">
		<h2 class="fw-bold">logs.</h2>
	</div>
	<div class="col-xl-4 col-6">
		<a class="btn btn-dark btn-sm rounded-0 float-end" href="/Fitness/Log/AddLog">create new log.</a>
	</div>
</div>