@page
@model TrackItWeb.Pages.Fitness.AnalyticsModel
@{
	ViewData["Title"] = "my progress.";
}
<style>
	#chart {
		max-width: 1050px;
		margin: 10px auto;
	}
</style>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Fitness/Index">fitness</a></li>
		<li class="breadcrumb-item active" aria-current="page">my progress</li>
	</ol>
</nav>

<h1 class="text-center fw-bold text-dark mb-1">workout // <b id="charttitle"></b></h1>
<form method="get">
	<div class="row mt-3 mb-3">
		<div class="col-xl-6 col-md-12 col-6 text-center">
			<select id="charttype" class="form-control-sm border border-2 rounded-0 bg-transparent text-dark fw-bold" onchange="SetChartDetails();">
				<option class="text-dark" value="weekly" selected>weekly</option>
				<option class="text-dark" value="monthly">monthly</option>
			</select>
		</div>
		<div class="col-xl-6 col-md-12 col-6 text-center">
			<select id="charttype1" name="filter2" class="form-control-sm border border-2 rounded-0 bg-transparent text-dark fw-bold" onchange="SetChartDetails();">
				<option class="text-dark" value="1" selected>reps</option>
				<option class="text-dark" value="2">weights</option>
			</select>
		</div>
	</div>

<div class="mt-3" id="chart">
</div>
</form>

<div class="col-xl-12 text-center">
	<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" href="/Fitness/Index">go back.</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
	SetChartDetails();

	function SetChartDetails() {
		var DataName = $("#charttype option:selected").val();
		var DataName2 = $("#charttype1 option:selected").val();
		var Params = " ";
		var r = "";

		$("#charttitle").text($("#charttype option:selected").text())

		var url = "?Filter=" + DataName + "&Filter2=" + DataName2 + "&handler=Formatted";

		$.getJSON(url, function (response) {
			var options = {
				series: response,
				chart: {
					type: 'bar', stacked: 'true', fontFamily: 'Arial', height: 470, width: "100%", defaultLocale: 'en',
					locales: [{
						"name": "tr",
						"options": {
							"toolbar": {
								"exportToSVG": "Download SVG",
								"exportToCSV": "Download CSV",
								"exportToPNG": "Download PNG",
								"menu": "Menu",
								"selection": "Select",
								"selectionZoom": "Select Area",
								"zoomIn": "Zoom In",
								"zoomOut": "Zoom Out",
								"pan": "Slide",
								"reset": "Reset"
							}
						}
					}],
					defaultLocale: "tr"
				},
				colors: ['#808080'],
				tooltip: { enabled: true },
				dataLabels: { enabled: true },
				grid: { show: true, borderColor: '#000000' },
				//xaxis: {
				//	labels: {
				//		show: true,
				//		style: {
				//			fontSize: '14px',
				//			cssClass: 'apexcharts-yaxis-label',
				//			colors: '#000000'
				//		}
				//	}
				//},
				//yaxis: {
				//	labels: {
				//		show: true,
				//		align: 'right',
				//		style: {
				//			fontSize: '12px',
				//			cssClass: 'apexcharts-xaxis-label',
				//			colors: '#000000'
				//		}
				//	}
				//}
			};

			var chart = new ApexCharts(document.querySelector('#chart'), options);
			chart.render();
		});
			chart.updateSeries(true, true);
	}

</script>
