@page
@model TrackItWeb.Pages.Member.CoachModel
@{
	ViewData["Title"] = "my coach.";
}

<div class="row">
	<div class="col-9">
		<h1 class="fw-bold">AI coach</h1>
	</div>
	<div class="col-3 mt-1">
@*		<a class="btn btn-dark btn-sm rounded-0 float-end" onclick="history.back();">go back.</a>
*@	</div>
</div>

<form method="post">
	<input type="text" id="prmpt" class="form-control form-control-lg border-2 rounded-0 bg-transparent text-dark fw-bold" name="prompt" />
	<div class="row">
		<div class="col-xl-12 col-12 d-flex justify-content-center">
			<button class="btn btn-dark btn-md rounded-0 d-flex justify-content-center mt-3" type="submit" onclick="showDiv()">get answer.</button>
		</div>
		<div class="col-xl-12 col-12 float-end d-flex justify-content-center">
			<div id="spin" hidden>
				<div class="spinner-border mt-3" role="status"></div>
			</div>
		</div>
	</div>
</form>

<form>
	@if (!string.IsNullOrEmpty(Model.Answer))
	{
		<h2 class="fw-bold  mt-3">answer.</h2>
		<p class="fw-bold mt-2">@Html.Raw(Model.Answer)</p>
	}
</form>

<script>
	function showDiv() {
		let p = document.getElementById('spin');
		p.removeAttribute("hidden");
	}
</script>
