@page
@model TrackItWeb.Pages.Member.ProfileModel
@{
	ViewData["Title"] = "profile.";
	Layout = "_Layout";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Home/Index">home</a></li>
		<li class="breadcrumb-item active" aria-current="page">profile</li>
	</ol>
</nav>

<form method="post">
	<input type="hidden" asp-for="Index_VM.MemberID"></input>
	<div class="container-fluid p-3">
		<section class="vh-50">
			<div class="container py-2 h-100">
				<h1 class="fw-bold text-center mb-3">PROFILE.</h1>
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-md-12 col-xl-5">
						<div class="card border-2 border-dark">
							<div class="card-body text-center rounded">
								<div class="mt-3 mb-4">
									<img src="~/profilenull.jpg" class="img-fluid" style="width: 100px;" />
								</div>
								<h4 class="mb-2">@User.Identity.Name</h4>
								<div class="d-flex justify-content-between text-center mt-5 mb-2">
									<div>
										<p class="text-dark fw-bold mb-0">email.</p>
										<input class="mb-2 fw-bold" style="width: 160px;" type="email" asp-for="Index_VM.EMail" />
									</div>
									<div>
										<p class="text-dark fw-bold mb-0">username.</p>
										<input class="mb-2 fw-bold" style="width: 160px;" type="text" asp-for="Index_VM.Username" />
									</div>
								</div>
								<div id="form" class="d-flex justify-content-between text-center mt-5 mb-2">
									<div>
										<input type="hidden" asp-for="Index_VM.MemberMetricID"/>
										<p class="text-dark fw-bold mb-0">height.</p>
										<input type ="number" class="mb-2 fw-bold" id="height" style="width: 80px;" asp-for="Index_VM.Height" />
									</div>
									<div class="px-3">
										<p class="text-dark fw-bold mb-0">weight.</p>
										<input type="number" class="mb-2 fw-bold" id="weight" style="width: 80px;" asp-for="Index_VM.Weight" />
									</div>
									<div>
										<p class="text-dark fw-bold mb-0">bmi.</p>
										<input type="number" class="mb-3 fw-bold" id="bmi" style="width: 80px;"  asp-for="Index_VM.BMI" readonly />
									</div>
								</div>
								<button type="submit" asp-page-handler="Update" class="btn btn-outline-dark fw-bold rounded-0 btn-sm mt-3">
									update.
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</form>

<script>
	$("#form").on("change", function () {
		var height = $("#height").val();
		var weight = $("#weight").val();
		var bmi = (weight / (height * height)) * 10000

		$("#bmi").val(bmi.toFixed(2));
	});
</script>