@page
@model TrackItWeb.Pages.Authentication.RegisterModel
@{
    ViewData["Title"] = "register.";
    Layout = "_Layout";
}

<form method="post">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-transparent border border-dark  text-white">
                    <div class="card-body p-5 text-center">
                        <div class="p-1">
                            <h1 class="fw-bold text-dark m-3">register.</h1>
                            <div class="form-outline form-white m-3">
                                <label class="form-label text-dark float-start fw-bold" for="typeEmailX">email.</label>
                                <input type="email" id="typeEmailX" class="form-control form-control-lg border border-2 rounded-0 bg-transparent text-dark fw-bold" name="email" />
                            </div>
                            <div class="form-outline form-white m-3">
                                <label class="form-label text-dark float-start fw-bold" for="typeEmailX">username.</label>
                                <input type="text" id="typeEmailX" class="form-control form-control-lg border border-2 rounded-0 bg-transparent text-dark fw-bold" name="username" />
                            </div>
                            <div class="form-outline form-white m-3">
                                <label class="form-label text-dark float-start fw-bold" for="typePasswordX">password.</label>
                                <input type="password" id="typePasswordX" class="form-control form-control-lg border border-2 rounded-0 bg-transparent text-dark fw-bold" name="password" />
                            </div>
                            <button class="btn btn-dark btn-lg m-3 rounded-0" type="submit">register.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form> 