@page
@model TrackItWeb.Pages.Home.IndexModel
@{
	ViewData["Title"] = "TRACKIT - welcome.";
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/" asp-append-version="true" />

@if (User.Identity?.IsAuthenticated == true)
{
	<div class="container-fluid text-center">
		<h1 class="text-dark fw-bold" style="font-size: 40px;">hi, welcome back @User.Identity.Name</h1>
		<h3 class="text-dark fw-bold mt-3">continue your journey.</h3>
	</div>
	<div class="row mt-3">
		<div class="col-xl-6 col-12 mt-3">
			<p id="demo" class="fw-bold text-center" style="font-size: 35px"></p>
		</div>
		<div class="col-xl-6 col-12 mt-3">
			<p class="fw-bold text-center mt-2" style="font-size: 28px;">🌤 23C° Istanbul</p>
		</div>
	</div>
	<div class="row" style="margin-top:5px"></div>
	<div class="row mt-3">
		<div class="col d-flex justify-content-center mt-3">
			<div class="card border-2 rounded-0 border-dark" style="width: 25rem;">
				<div class="card-header text-white rounded-0" style="background-color: black">
					<p class="fw-bold m-2 text-center">exercises you will like.</p>
				</div>
				<ul class="list-group list-group-flush fw-bold">
					<li class="list-group-item">an item<a class="btn btn-outline-dark border-2 btn-sm rounded-0 fw-bold float-end" href="/Nutrient/MyRecipes">➔</a></li>
					<li class="list-group-item">an item<a class="btn btn-outline-dark border-2 btn-sm rounded-0 fw-bold float-end" href="/Nutrient/MyRecipes">➔</a></li>
					<li class="list-group-item">an item<a class="btn btn-outline-dark border-2 btn-sm rounded-0 fw-bold float-end" href="/Nutrient/MyRecipes">➔</a></li>
				</ul>
			</div>
		</div>
		<div class="col d-flex justify-content-center mt-3">
			<div class="card border-2 rounded-0 border-dark" style="width: 25rem;">
				<div class="card-header text-white rounded-0" style="background-color: black">
					<p class="fw-bold m-2 text-center">recipes you will like.</p>
				</div>
				<ul class="list-group list-group-flush fw-bold">
					<li class="list-group-item">an item<a class="btn btn-outline-dark border-2 btn-sm rounded-0 fw-bold float-end" href="/Nutrient/MyRecipes">➔</a></li>
					<li class="list-group-item">an item<a class="btn btn-outline-dark border-2 btn-sm rounded-0 fw-bold float-end" href="/Nutrient/MyRecipes">➔</a></li>
					<li class="list-group-item">an item<a class="btn btn-outline-dark border-2 btn-sm rounded-0 fw-bold float-end" href="/Nutrient/MyRecipes">➔</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		setInterval(myTimer, 1000);

		function myTimer() {
			const d = new Date();
			document.getElementById("demo").innerHTML = d.toLocaleTimeString();
		}
	</script>
}
else
{
	<div class="container-fluid text-center ">
		<h1 class="text-dark fw-bold mb-3" style="font-size: 50px">welcome</h1>
		<h3 class="text-dark fw-bold mt-3">start your journey.</h3>
		<h3 class="text-dark fw-bold">track it. burn it.</h3>
		<div class="row text-center p-5">
			<div class="col-xl-6 mt-3">
				<div class="card text-center border-2 rounded-0 border-dark">
					<div class="card-header fw-bolder rounded-0 " style="background-color: black">
						<h3 class="text-white">gym logs.</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">you can log your workouts easily.</h5>
					</div>
				</div>
			</div>
			<div class="col-xl-6 mt-3">
				<div class="card text-center border-2 rounded-0 border-dark">
					<div class="card-header fw-bolder rounded-0" style="background-color: black">
						<h3 class="text-white">recipes.</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">recipes that you love are here.</h5>
					</div>
				</div>
			</div>
			<div class="col-xl-6 mt-3">
				<div class="card text-center border-2 rounded-0 border-dark">
					<div class="card-header fw-bolder rounded-0" style="background-color: black">
						<h3 class="text-white">progress.</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">you can see your progress by simple graphics.</h5>
					</div>
				</div>
			</div>
			<div class="col-xl-6 mt-3">
				<div class="card text-center border-2 rounded-0 border-dark">
					<div class="card-header fw-bolder rounded-0" style="background-color: black">
						<h3 class="text-white">weekly recommendations.</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">we offer weekly exercises recommended by our trainers.</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
}

