@page
@model TrackItWeb.Pages.Nutrient.LogDetailsModel
@{
	ViewData["Title"] = "nutrient log details.";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Nutrient/Index">health</a></li>
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Nutrient/Logs">logs</a></li>
		<li class="breadcrumb-item active" aria-current="page">log details</li>
	</ol>
</nav>

