@page
@model TrackItWeb.Pages.Nutrient.AnalyticsModel
@{
	ViewData["Title"] = "my progress.";
}

<style>
	#chart {
		max-width: 1050px;
		margin: 10px auto;
	}
</style>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Health/Index">health</a></li>
		<li class="breadcrumb-item active" aria-current="page">my progress</li>
	</ol>
</nav>

<h1 class="text-center fw-bold text-dark mb-1"><b id="charttitle"></b></h1>
<h1 class="text-center fw-bold text-dark mb-1"><b id="charttitle2"></b></h1>
	<div class="row mt-3">
		<div class="col-xl-6 col-md-12 col-6 text-center">
			<select id="charttype" class="form-control-sm border border-2 rounded-0 bg-transparent text-dark fw-bold" onchange="SetChartDetails();" asp-for="Date">
				<option class="text-dark" value="weekly" selected>weekly</option>
				<option class="text-dark" value="monthly">monthly</option>
			</select>
		</div>
		<div class="col-xl-6 col-md-12 col-6 text-center">
		<select id="charttype2" class="form-control-sm border border-2 rounded-0 bg-transparent text-dark fw-bold" onchange="SetChartDetails();" asp-for="Info">
				<option class="text-dark" value="totalcalorie" selected>total calorie</option>
				<option class="text-dark" value="totalcarb">total carb</option>
				<option class="text-dark" value="totalfat">total fat</option>
				<option class="text-dark" value="totalprotein">total protein</option>
				<option class="text-dark" value="totalsugar">total sugar</option>
			</select>
		</div>
	</div>

	<div id="chart">
	</div>

<div class="col-xl-12 text-center">
	<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" href="/Health/Index">go back.</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
	SetChartDetails();

	function SetChartDetails() {
		var DataName = $("#charttype option:selected").val();
		var DataName2 = $("#charttype2 option:selected").val();
		var Params = " ";

		$("#charttitle").text($("#charttype option:selected").text())
		$("#charttitle2").text($("#charttype2 option:selected").text())

		var options = {
			series: [],
			chart: {
				type: 'area', fontFamily: 'Arial', height: 470, width: "100%", defaultLocale: 'en',
				locales: [{
					"name": "tr",
					"options": {
						"toolbar": {
							"exportToSVG": "Download SVG",
							"exportToCSV": "Download CSV",
							"exportToPNG": "Download PNG",
							"menu": "Menu",
							"selection": "Select",
							"selectionZoom": "Select Area",
							"zoomIn": "Zoom In",
							"zoomOut": "Zoom Out",
							"pan": "Slide",
							"reset": "Reset"
						}
					}
				}],
				defaultLocale: "tr"
			},
			colors: ['#808080'],
			tooltip: { enabled: true },
			dataLabels: { enabled: true },
			//stroke: { curve: 'straight' },
			grid: { show: true, borderColor: '#000000' },
			xaxis: {
				labels: {
					show: true,
					style: {
						fontSize: '14px',
						cssClass: 'apexcharts-yaxis-label',
						colors: '#000000'
					}
				}
			},
			yaxis: {
				labels: {
					show: true,
					align: 'right',
					style: {
						fontSize: '12px',
						cssClass: 'apexcharts-xaxis-label',
						colors: '#000000'
					}
				}
			}
		};

		var chart = new ApexCharts(document.querySelector('#chart'), options);
		chart.render();

		var url = "?Date=" + DataName + "&Info=" + DataName2 + "&handler=Formatted";

		$.getJSON(url, function (response) {
			chart.updateSeries([{
				name: 'cal',
				data: response
			}])
		});
		chart.resetSeries();
	}

</script>