@page
@model TrackItWeb.Pages.Nutrient.IndexModel
@{
	ViewData["Title"] = "health.";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Home/Index">home</a></li>
		<li class="breadcrumb-item active" aria-current="page">health</li>
	</ol>
</nav>

<div class="container-fluid p-3">
	<h1 class="fw-bold text-center">HEALTH.</h1>
	<div class="row text-center p-5">
		<div class="col-xl-6 col-12 mt-3">
			<div class="card text-center border-2 rounded-0 border-dark">
				<div class="card-header fw-bolder rounded-0 " style="background-color: black">
					<h3 class="text-white">my intake.</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">see what you ate.</h5>
					<a class="btn btn-outline-dark border-2 btn-lg m-3 rounded-0 fw-bold" href="/Health/Log/Logs">➔</a>
				</div>
			</div>
		</div>
		<div class="col-xl-6 col-12 mt-3">
			<div class="card text-center border-2 rounded-0 border-dark">
				<div class="card-header fw-bolder rounded-0" style="background-color: black">
					<h3 class="text-white">my recipes.</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">your special recipes.</h5>
					<a class="btn btn-outline-dark border-2 btn-lg m-3 rounded-0 fw-bold" href="/Health/MyRecipe/MyRecipes">➔</a>
				</div>
			</div>
		</div>

		<div class="col-xl-6 col-12 mt-3">
			<div class="card text-center border-2 rounded-0 border-dark">
				<div class="card-header fw-bolder rounded-0" style="background-color: black">
					<h3 class="text-white">my progress.</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">let see what you done.</h5>
					<a class="btn btn-outline-dark border-2 btn-lg m-3 rounded-0 fw-bold" href="/Health/Analytics">➔</a>
				</div>
			</div>
		</div>

		<div class="col-xl-6 col-12 mt-3">
			<div class="card text-center border-2 rounded-0 border-dark">
				<div class="card-header fw-bolder rounded-0" style="background-color: black">
					<h3 class="text-white">recipes.</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">you can find delicious recipes here.</h5>
					<a class="btn btn-outline-dark border-2 btn-lg m-3 rounded-0 fw-bold" href="/Health/Recipe/Recipes">➔</a>
				</div>
			</div>
		</div>
	</div>
</div>