@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}
<h2 class="text-danger fw-bold fst-italic">oopss...!</h2>
<br>
<h2 class="text-dark fw-bold fw-bold">an error occurred while processing your request.</h2>
<br>
<a class="btn btn-dark rounded-0 d-flex justify-content-center" onclick="history.back()">go back.</a>