@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<h1 class="text-danger fw-bold">TRACKIT</h1>
<h1 class="text-danger fw-bold">Error.</h1>
<h2 class="text-danger fw-bold">An error occurred while processing your request.</h2>

